.rounded-clip-1 {
    clip-path: ellipse(75% 50% at 50% 50%);
  }
  
  .rounded-clip-2 {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  }

  
  .marquee {
    display: flex;
    animation: marquee 10s linear infinite; 
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .Marquee-svg {
    width: 100%;
    height: auto;
  }
  
  .Marquee-path-group {
    animation: waveAnimation 15s ease-in-out infinite;
  }
  
  @keyframes waveAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .Marquee-svg-text {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
  }



  
  .dropdown-menu {
    display: none; 
    position: absolute;
    background-color: rgba(255, 255, 255, 0.842); 
    z-index: 1000;
    padding: 10px 4px;
  }
  
  .dropdown-menu.show {
    display: block; 
  }
  
  .mobile-dropdown {
    display: none;
    margin-left: 20px; 
  }
  
  .mobile-dropdown.open {
    display: block; 
  }

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: black;
  border-bottom: 2px;
  border: white;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-menu a:hover {
  background-color: #f3f4f6;
  color: #1a1a1a;
}
