@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(33, 33, 33); 
    border-radius: 10px; 
    border: 2px solid #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  